.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 1em;
}

.name-highlight {
    color: coral;
}
p{
    color: rgb(12, 65, 67);
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
}

.half-width img {
    width: 100%;
}


.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(146, 39, 15), pink);
    color: white;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 5px;
}

section {
    height: 600px;
}

.dream-area{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
}
.dream-area img{
    width: 100%;
}
.single-experience{
   box-shadow: 10px 10px 40px;
   border-radius: 10px;
   height: 50%;
}
.Conclusion{
    background-image: url("Images/personal-website/header-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.introduction {
    background-image: url("Images/personal-website/footer-bg.png");
    background-repeat: no-repeat;
    background-position:top;
}
.middle{
    background-image: url("Images/personal-website/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position:top;
}
#border{
    border-left: 10px solid;
    border-color:brown;
    border-bottom-color: blanchedalmond;
    border-left-style: double;
    color:rgb(24, 8, 7)
}
#border-web{
    border-left: 10px solid;
    border-color:rgb(20, 62, 9);
    border-bottom-color: blanchedalmond;
    border-left-style: double;
    color:rgb(24, 8, 7)
}
}

}